*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --border: 5px solid black;
}

body, html {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Spartan', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

#top-menu {
    background-color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#top-menu h1 {
    font-size : 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

#banner {
    z-index: -20;
    background: url("../images/grill.jpg");
    background-position-y: -1750px;
    background-position-x: -450px;
    height: 36rem;
    border-top: var(--border);
    /* border-bottom: var(--border); */
}

main {
    display: flex;
    flex-direction: column;
}

#tab-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.tab-label {
    /* margin: 0 5rem; */
    text-transform: uppercase;
    font-weight: 800;
    width: calc(100vw / 3);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: rgb(212, 212, 212);
    color: #777;
}

.active-h {
    border-right: var(--border);
    border-bottom: none;
    background-color: white;
    color: black;
}

.active-m {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: none;
    background-color: white;
    color: black;
}

.active-c {
    border-left: var(--border);
    border-bottom: none;
    background-color: white;
    color: black;
}

#tab {
    /* border-left: var(--border); */
    /* border-right: var(--border); */
    height: 20rem;
}

